body {
    font-family: Arial, sans-serif;
  }
  
  h1, h3 {
    text-align: center;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    cursor: pointer;
  }
  
  #authContainer, #bookingContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  #bookingContainer ul {
    list-style-type: none;
    padding: 0;
  }
  